.register-form {
  margin-top: 4rem;
}

.register-title {
  margin-bottom: 1rem;
  font-weight: 400;
}

.have-account-text {
  font-weight: 400;
}

.login-link-light {
  font-weight: 500;
  color: white;
}

.login-link-light:hover {
  color: rgb(200, 200, 200);
}

.login-link-dark {
  font-weight: 500;
  color: black;
}

.login-link-dark:hover {
  color: rgb(75, 75, 75);
}
