.main-carousel {
  margin: 2rem 0;
  box-shadow: 5px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.main-carousel h1 {
  font-size: 3rem;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
}

.main-carousel p {
  margin: 0;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.3);
}
